*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


main{
  margin: 0 auto;
  width: 55%;
}

/* proprietà img */

.box {
  float: left;
  width:calc(100% / 3);
  padding: 0 10px;
}

.box .img-item {
  width:100%;
}

.box .img-back {
  display: none;
}

.img-container:hover{
  cursor: pointer;
}

.img-container:hover .img-front{
  display: none;
}

.img-container:hover .img-back{
  display: table;
}

.img-container{
  position: relative;
}

.heart{
  position: absolute;
  top: 10px;
  right: 0;
  color: black;
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
}

.discount{
  position: absolute;
  bottom: 10px;
  left: 0;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 30px;
  height: 15px;
  text-align: center;
  line-height: 15px;

}



/* proprietà testi */

.block span{
  display: block;
}

.title{
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.red-price{
  color: red;
}

.price{
  text-decoration: line-through;
}

.brand, .red-price, .price{
  font-size: 10px;
}

















