*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.figure{
  width: 250px;
  height: 400px;
  background-color: red;
  display: inline-block;
  background-position: center;
  background-size: cover;

}

main{
  margin: 0 auto;
  width: 55%;
}

.right{
  background-image: url(../img/1.webp);
}

.central{
  background-image: url(../img/2.webp);
}

.left{
  background-image: url(../img/3.webp);
}

.block span{
  display: block;
}

.title{
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.red-price{
  color: red;
}

.price{
  text-decoration: line-through;
}

.brand, .red-price, .price{
  font-size: 10px;
}


.caption1, .caption{
  display: inline-block;
  margin-right: 97px;
}